*{
    box-sizing:border-box;
    padding:0px;
    margin:0px;
}
/* nav-bar style start here */
.nav-menu{
    background-color:teal;
    margin-right: 5px;

}
.nav-logo{
    width: 100px;
    height: 100px;
    border-radius:50%;
    padding:10px;
    margin:0 auto;
    transform: translate(100px.10px);
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
}
.nav-header{
    padding:25px;

}
.nav-header h1{
    padding:25px;
    font-size:2.5rem;
    padding-top:25px;
    color:white;
    text-align: center;
}
.nav-content{
    padding:10px;
    

}
.nav-content a{
    font-size: 20px;
    font-weight: bold;
    padding:10px;
    color:white;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    text-align: center;
    text-transform: uppercase;
    background-color: rgb(14, 53, 39);
    border-radius: 10px;
    margin:5px 0px;
} 
.nav-content a:hover{
    background-color: gray;
    transform: scale(1.2);
}
/* nav-bar style ends here */




/* profile style starts here */
.profile{
    padding:40px;
    position:relative;
   }

   .image1{
    height: 60px;
    width:80px;
    border-radius:50%;
    position:absolute;
    top:20px;
    right:40px;
    transition: width 2s,rotate 2s;

   }
   .image1:hover{
    width: 100px;
    rotate: 360deg;
   }
   .image2{
    height: 60px;
    width:80px;
    border-radius:50%;
    position:absolute;
    bottom:40px;
    left:40px;
    transition: width 2s,rotate 2s;

   }
   .image2:hover{
    width: 100px;
    rotate: 360deg;
   }
   .profile-header{
    padding:20px;
    margin-top:40px;

   }
   .profile-header h1{
    font-size: 1.5rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
   }
   .profile-desc{
    text-align: center;
    padding:40px;
    font-size:25px;
    font-weight: bold;
    color:gray;
   }
   /* profile style ends here */



   /* about me style start here */
   .about-me{
    background-color: teal;
    padding:10px;
   
   }
   .header{
    text-align:center;
    font-size:1.2rem;
    color:white;text-transform:uppercase;
    
    padding:10px;
    margin-bottom:10px;
   }
   .hr1{
    width: 280px;
    border:1px dotted white;
    position:absolute;
    justify-content: center;
    margin-left: 500px;
    
    
   }
   .image3{
    height: 150px;
    width: 120px;
    border:5px solid white;
    border-radius:50%;
   }

   .col-1 {width: 8.33%;}
   .col-2 {width: 16.66%;}
   .col-3 {width: 25%;}
   .col-4 {width: 33.33%;}
   .col-5 {width: 41.66%;}
   .col-6 {width: 50%;}
   .col-7 {width: 58.33%;}
   .col-8 {width: 66.66%;}
   .col-9 {width: 75%}
   .col-10 {width: 83.33%;}
   .col-11{width: 91.66%;}
   .col-12{width: 100%;}

   [class*="col-"]{
    width: 100%;
   }
   .left{
    height: 300px;
    
   }
   .image3{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(200px,100px);
   }
   .right{
    height: 600px;
    
   }

   .ilt{
    color:white;
    font-size: 20px;
    font-weight: bold;
    padding:10px;
    margin-bottom:20px;
   }
   

   .achivement{
    color:white;
    font-size: 20px;
    font-weight: bold;
    padding:10px;
    margin-bottom:20px;
   }
   .address P{
    color:white;
    font-size: 15px;
    font-weight: bold;
    padding:10px;
   }
   .hr2{
    margin-top:10px;
   }
   /* about me style end here */
  
/* education,work and experience style start here */

.col-c-1 {width: 8.33%;}
       .col-c-2 {width: 16.66%;}
       .col-c-3 {width: 25%;}
       .col-c-4 {width: 33.33%;}
       .col-c-5 {width: 41.66%;}
       .col-c-6 {width: 50%;}
       .col-c-7 {width: 58.33%;}
       .col-c-8 {width: 66.66%;}
       .col-c-9 {width: 75%}
       .col-c-10 {width: 83.33%;}
       .col-c-11{width: 91.66%;}
       .col-c-12{width: 100%;}
       [class*="col-c-"]{
        background-color:aquamarine;
        width:100%;
        float:left;
        height: 650px;
        box-sizing: border-box;
        
        
       } 
       .eandt{
        padding:30px;
        width: 300px;
        margin:15px 40px;
        color:white;
        background-color: gray;
        text-align:center;
        border-radius:30px;
        
       }
       .eandt:hover{
        box-shadow:5px 10px 5px lightblue;
        transform: scale(1.02);
       }
       .wande{
        padding:30px;
        width: 300px;
        margin:15px 40px;
        color:white;
        background-color: gray;
        text-align:center;
        border-radius:30px;
        
       }
       .wande:hover{
        box-shadow:5px 10px 5px lightblue;
        transform: scale(1.02);
       }
       .skill-container{
        width: 400px;
        background-color:gray;
        padding:50px;
        width: 300px;
        
    }
    .skill-container li{
        color:white;
        text-transform:uppercase;
        padding:40px;
        list-style-type: none;
        position: relative;
        padding-bottom:20px;
    }
    .skill-container li::before{
        content: '';
        position:absolute;
        top:calc(100% + 3px);
        left:0px;
        background-color: rgb(170,167,173);
        width: 100%;
        height: 25px;
        border-radius:1000px;
        
    }
    .skill-container li::after{
        content: '';
        position:absolute;
        top:calc(100% + 3px);
        left:0px;
        background-color: rgb(250, 250, 250);
        width: 0px;
        height: 25px;
        border-radius:1000px;
        margin-left:;
        animation-duration:1s;
        animation-delay:1s;
        animation-timing-function:linear;
        animation-iteration-count:1;
        animation-fill-mode:forwards;          
    }
.skill-container li.html::after{
    animation-name:html;      
}
@keyframes html{
   to{
    width: 60%;
    background-color: yellow;

   }
}
.skill-container li.css::after{
    animation-name:css;      
}
@keyframes css{
   to{
    width: 40%;
    background-color: yellow;

   }
}
.skill-container li.python::after{
    animation-name:python;      
}
@keyframes python{
   to{
    width: 20%;
    background-color: yellow;

   }
}
.skill-container li.c-sharp::after{
    animation-name:c-sharp;      
}
@keyframes c-sharp{
   to{
    width: 10%;
    background-color: yellow;

   }
}
.skill-container li.java::after{
    animation-name:java;      
}
@keyframes java{
   to{
    width: 20%;
    background-color: rgb(187, 255, 0);

   }
}
.skill-container{
    padding:30px;
    margin:15px 40px;
    color:white;
    background-color: gray;
    text-align:center;
    border-radius:30px;
    
   }
   .skill-container:hover{
    box-shadow:5px 10px 5px lightblue;
    transform: scale(1.02);
   }
/* education,work and experience style end here */
 /* social media button style start */
 .social-media{
    background-color:teal;
   }
   
   .col-a-1 {width: 8.33%;}
   .col-a-2 {width: 16.66%;}
   .col-a-3 {width: 25%;}
   .col-a-4 {width: 33.33%;}
   .col-a-5 {width: 41.66%;}
   .col-a-6 {width: 50%;}
   .col-a-7 {width: 58.33%;}
   .col-a-8 {width: 66.66%;}
   .col-a-9 {width: 75%}
   .col-a-10 {width: 83.33%;}
   .col-a-11{width: 91.66%;}
   .col-a-12{width: 100%;}
    [class*="col-a-"]{
       width: 100%;
       float: left;
    }
    .ach{
        padding:10px;
        margin:5px 5px;
        border-radius: 10px;
        text-align: center;
        color:white;
        background: teal;
        height: 450px;

    }
    .ach h2{
        padding-top:20px;

    }
    .dach{
        font-size: 20px;
        font-weight: bold;
        padding-top:20px;
    }
    .dach p{
        padding:10px;
    }
    .contact-me{
        padding:10px;
        margin:5px 10px;
        border-radius: 10px;
        text-align: center;
        color:white;
        background: teal;
        height: 450px;  
    }
    #email{
        padding:20px 10px;
        margin:20px 10px;
        height: 10px;
        background-color: rgb(233, 223, 223);
        border: 1px solid rgb(0, 0, 0);
        border-radius:10px;
       
    }
    #email:hover{
        box-shadow: 5px 5px 2px rgb(221, 221, 216);
        transform:scale(1.01);
    }
    #password{
        padding:20px 10px;
        margin:20px 10px;
        height: 10px;
        background-color: rgb(233, 223, 223);
        border: 1px solid rgb(0, 0, 0);
        border-radius:10px;
        
    }
    #password:hover{
        box-shadow: 5px 5px 2px rgb(221, 221, 216);
        transform:scale(1.01);
    }
    .contact-me p{
        padding:10px;
        font-size:20px;
        font-weight:bold;
    }
    #text{
        border: 1px solid black;
        background-color:azure;
        border-radius:10px;

    }
    #btn1{
        width: 80px;
        height: 40px;
        padding:10px;
        border: 1px solid black;
        border-radius:5px;
        background-color: aliceblue;
    }
    #btn2{
        width: 80px;
        height: 40px;
        padding:10px;
        border: 1px solid black;
        border-radius:5px;
        background-color: aliceblue; 
    }
    .mwtc{
        padding:10px;
        margin:5px 5px;
        border-radius: 10px;
        text-align: center;
        color:white;
        background-color:teal;
        height: 450px; 
        
    }
    .button1 .btn{
        font-size: 30px;
        height: 40px;
        width: 80px;
        border: 1px solid black;
        border-radius:10px;
        margin-top:100px;
    }
    .button2 .btn{
        font-size: 30px;
        height: 40px;
        width: 80px;
        border: 1px solid black;
        border-radius:10px;
    }
    .button3 .btn{
        font-size: 30px;
        height: 40px;
        width: 80px;
        border: 1px solid black;
        border-radius:10px;
    }

   /* social media button style end */






           